.game-comment-page {
  margin: 10rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  object-fit: cover;
  width: fit-content;
  max-width: 100%;
  color: #213547;
}

.img-comment-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & img {
    max-width: 40rem;
    border-radius: 2rem;
  }
}

fieldset {
  margin: 0 auto;
  margin-bottom: 2rem;
  height: fit-content;
  border: 3px solid #e1ce7a;
  border-radius: 8px;
  min-width: 0;
  width: 100%;
  text-align: left;
  & textarea {
    border: 3px solid #e1ce7a;
  }
}

#new-comment-fieldset,
#allComments {
  display: flex;
  flex-direction: column;
  min-width: 0;
  width: 100%;
  padding: 1rem;
  justify-content: center;
  align-items: center;

  & fieldset {
    margin: 0 auto;
    margin-bottom: 2rem;
    height: fit-content;
    border: 3px solid #e1ce7a;
    border-radius: 8px;
    min-width: 0;
    width: 100%;

    & span {
      font-weight: 600;
      color: #213547;
    }
  }
}

@media only screen and (max-width: 768px) {
  .game-comment-page {
    margin: 2rem auto;
    flex-direction: column;
  }

  .img-comment-section {
    width: 100%;
    margin: 3rem auto;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    & img {
      max-width: 100%;
      padding: 1rem;
    }
    & h1 {
      font-size: 1.2rem;
    }
    & h2 {
      font-size: 0.85rem;
    }
    & h1,
    h2 {
      padding: 0.75rem;
      margin: 0 auto;
      text-align: center;
    }

    & button {
      margin: 0.4em auto;
    }
  }

  #loginForComment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #allcomments {
    padding: 1rem;
  }
}

@media only screen and (min-width: 769px) {
  .game-comment-page {
    margin: 8rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    max-width: 100%;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    padding-top: 1rem;
    font-size: 1.5rem;
  }
  fieldset {
    max-width: 100%;
    text-align: center;
  }
  #newCommentForm {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  #loginForComment {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}
