.game-comment-page {
  margin: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #213547;
}

.img-comment-section {
  display: flex;
  flex-direction: row;

  & img {
    max-width: 40rem;
  }
}
#new-comment-fieldset {
  margin-bottom: 2rem;
  max-width: 100%;
  height: fit-content;
  border: 3px solid #e1ce7a;
  border-radius: 8px;
  text-align: center;
  & span {
    font-weight: 600;
    color: #213547;
  }
}

#allComments {
  display: flex;
  flex-direction: column;
  min-width: 0;
  & fieldset {
    margin-left: 3rem;
    margin-bottom: 2rem;
    width: 20rem;
    height: fit-content;
    border: 3px solid #e1ce7a;
    border-radius: 8px;
    min-width: 0;
    & span {
      font-weight: 600;
      color: #213547;
    }
  }
}
