.game-comment-page {
  margin: 10rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  object-fit: cover;
  width: fit-content;
  max-width: 100%;
  flex-wrap: wrap;
}

.img-comment-section {
  display: flex;
  flex-direction: row;

  & img {
    max-width: 40rem;
    border-radius: 2rem;
  }
}
#new-comment-fieldset {
  margin-bottom: 2rem;
  max-width: 100%;
  height: fit-content;
  border: 3px solid #e1ce7a;
  border-radius: 8px;
  text-align: center;
  & span {
    font-weight: 600;
    color: #213547;
  }
}

#allComments {
  display: flex;
  flex-direction: column;
  min-width: 0;
  width: 100%;
  & fieldset {
    margin-left: 3rem;
    margin-bottom: 2rem;
    height: fit-content;
    border: 3px solid #e1ce7a;
    border-radius: 8px;
    min-width: 0;
    width: 100%;
    & span {
      font-weight: 600;
      color: #213547;
    }
  }
}

@media only screen and (max-width: 768px) {
  .img-comment-section {
    display: flex;
    flex-direction: column; /* Change the direction to column when screen is smaller */
    width: 100%;
    margin: 0 auto;
    & img {
      max-width: 100%;
    }
    & h1 {
      font-size: smaller;
    }
    & #allcomments {
      margin-left: 0;
    }
    & fieldset {
      max-width: 100%;
      margin-left: 0;
    }
    & #allcomments {
      margin: 0;
    }
  }
  #allcomments {
    margin: 0;
  }
}

@media only screen and (min-width: 769px) {
  .game-comment-page {
    margin: 10rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: columnn;
    max-width: 100%;
  }
  & fieldset {
    max-width: 80%;
  }
}
