/* .error-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.error-message {
  font-family: poppins, sans serif;
}

.error-image {
  height: 100%;
  width: auto;
} */
