.list {
  list-style-type: none;
  align: center;
}

.carousel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

#main {
  max-width: 80%;
  margin: 0 auto;
}

#title {
  margin-top: 100px;
}

#publisher {
}

#comment {
}

#description {
}

#ctext {
}

#cbuttons {
}

#cbuttond {
}

#cimage {
  width: 100%;
  height: auto;
}

#cvideo {
}
