.list {
  list-style-type: none;
  text-align: center;
}

.carousel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  & button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .previous {
    left: 1rem;
  }
  .next {
    right: 1rem;
  }
}

#main {
  max-width: 80%;
  margin: 0 auto;
}

#title {
  margin-top: 100px;
  text-align: center;
}

#publisher {
  text-align: center;
}

#comment {
  text-align: center;
}

#description {
  text-align: justify;
  border: 3px solid #e1ce7a;
  border-radius: 10px;
  padding: 2%;
}

/* #ctext {
}

#cbuttons {
}

#cbuttond {
} */

#cimage {
  width: 100%;
  height: auto;
}

#cvideo {
}

.about-title {
  text-align: center;
}
