.list {
  list-style-type: none;
}

.carousel {
}

#main {
  max-width: 80%;
  margin: 0 auto;
}

#publisher {
}

#comment {
}

#description {
}

#ctext {
}

#cbutton {
}

#cimage {
  width: 100%;
  height: auto;
}

#cvideo {
}
