* {
  margin-top: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

.home-page {
  margin: 0;
  box-sizing: border-box;
  font-family: poppins, sans serif;
  height: 100vh;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 17vh;
  margin-top: 10rem;
}

.main-title-1 {
  color: #213547;
  text-align: center;
  font-size: 3.9rem;
  padding: 0;
  line-height: 0.5rem;
}

.main-title-2 {
  color: #e1ce7a;
  text-align: center;
  font-size: 4.5rem;
  padding: 0;
}

/* Game container */

.game-entry {
  list-style: none;
  text-decoration: none;
  text-wrap: wrap;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  float: right;
  margin-right: 2%;
  max-width: calc(100vw - 14vw);
}

.game-element {
  transition: all 0.2s ease-in-out;
}

.game-element:hover {
  transform: scale(1.1);
}

.game-image {
  width: 100%;
  max-width: 14rem;
  height: auto;
  max-height: 8rem;
  border-radius: 0.5rem;
  object-fit: cover;
}

.game-name,
.game-genre {
  width: 14rem;
  text-wrap: balance;
  margin: 0, auto;
  text-align: left;
}

.game-name {
  font-size: 1.2rem;
  color: #213547;
}

.game-genre {
  font-size: 0.9rem;
  font-weight: 200;
  color: #a1978e;
  margin-bottom: 0.2rem;
}

.game-rating {
  font-size: 0.6rem;
  font-weight: 600;
  color: #fff;
  background-color: #e1ce7a;
  padding: 0.2rem;
  width: 2rem;
  text-wrap: balance;
  margin: 0, auto;
  text-align: center;
  border-radius: 0.5rem;
}

/* Sorting box */

.sort-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 2rem;
}

#sort-select {
  padding: 7px;
  font-size: 14px;
  border: 1px solid #213547;
  border-radius: 5px;
  background-color: #fff;
  color: #213547;
  cursor: pointer;
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  .sidebar {
    display: none;
  }
}
