.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ensures the container takes up the full viewport height */
  & form {
    padding: 2rem;
  }
  & input {
    margin: 0.75rem;
  }
}
.login-form-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.login-request-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.login-response-container {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: row;
}

@media only screen and (max-width: 769px) {
  .login-request-container {
    display: flex;
    flex-direction: column;
  }
}
