.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ensures the container takes up the full viewport height */
  & form {
    padding: 2rem;
  }
  & input {
    margin: 0.75rem;
  }
}
.login-form-container {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.login-response-container {
  display: flex;
  text-align: center;
  justify-content: center;
}

.login-border {
  border-radius: 1rem;
  border-color: #213547;
}

.login-legend {
  color: #213547;
  font-size: 1.3rem;
  font-weight: 700;
}

.login-label {
  color: #e1ce7a;
  font-weight: 600;
}
