.sidebar {
  position: fixed;
  width: 14%;
  background-color: #213547;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin-top: 5%;
  margin-right: 20%;
  top: 0;
  bottom: 0;
  margin-left: 0;
  padding: 1rem;
  z-index: 98;
}

.sidebar::-webkit-scrollbar {
  display: none;
}
.sidebar-title {
  color: #ffffff;
  font-size: 1.5rem;
  font-family: "Poppins";
  font-weight: 600;
  cursor: default;
  margin-left: 4%;
}
.sidebar-subtitle {
  color: #c5baaf;
  font-size: 0.95rem;
  font-weight: 200;
  /* padding: 0.1rem; */
  margin-left: 4%;
}
.scroll-buttons {
  height: fit-content;
  font-size: 0.75rem;
  border: 1.5px solid #e1ce7a;
  border-radius: 8px;
  padding: 5px 10px;
  margin-left: 8px;
  cursor: pointer;
  font-weight: 300;
  background-color: transparent;
  color: #e1ce7a;
  margin: 0.9rem;
}
