.sidebar {
  position: fixed;
  width: 15%;
  background-color: #213547;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin-top: 5%;
  margin-right: 20%;
  top: 0;
  bottom: 0;
  margin-left: 0;
  padding: 1rem;
  & div {
    text-align: left;
  }
}
.sidebar::-webkit-scrollbar {
  display: none;
}
.sidebar-title {
  color: #ffffff;
  font-family: "Poppins";
  font-weight: 600;
  cursor: default;
}
.sidebar-subtitle {
  color: #c5baaf;
  font-weight: 200;
}
.scroll-buttons {
  /* height: fit-content; */
  font-size: 0.75rem;
  border: 1.5px solid #e1ce7a;
  border-radius: 8px;
  padding: 5px 10px;
  margin-left: 8px;
  cursor: pointer;
  font-weight: 300;
  background-color: transparent;
  color: #e1ce7a;
}
